# URLs de servicios
VITE_API_URL=https://spainrp-oficial.onrender.com
VITE_BOT_URL=https://spainrp-oficial.onrender.com
VITE_SHOP_URL=https://spainrp-oficial.onrender.com
VITE_PPT_URL=https://spa
inrp-web.onrender.com