# URLs de servicios (producción Render)
VITE_API_URL=https://spainrp-web-pqog.onrender.com
VITE_BOT_URL=https://spainrp-web-pqog.onrender.com
VITE_SHOP_URL=https://spainrp-oficial-1uly.onrender.com
VITE_PPT_URL=https://spainrp-oficial-1uly.onrender.com
